.container {
    width: 100%;
    height: 100vh;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container span {
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    font-weight: 900;
    color: #666;
}

.container .wrapperText {
    width: 100%;
    text-align: center;
}

.container .wrapperText h1 {
    font-size: 30px;
    color: #333;
}

.container .wrapperText small {
    font-size: 20px;
    color: #666;
}

.container .imageWrapper {
    display: flex;
    height: 400px;
    width: 1200px;
    margin-bottom: 20px;
}

.container .imageWrapper img {
    flex: 1;
    height: 100%;
    margin: 20px;
    object-fit: contain;
}

.container p {
    color: #7654b8;
    font-size: 80px;
    margin-top: 20px;
}

.container ul li {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .container ul {
        margin: 20px 0 40px;
    }

    .container .imageWrapper {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
}
